@import "libs/_include-media";
@import "mixins/_clearfix";



.product-details {
	> *:nth-child(1), > *:nth-child(2), > *:nth-child(3), > *:nth-child(4) {
		width: 50%;
		position: relative;
		float: left;
	}

	@include media (">=tablet") {
		> *:nth-child(1), > *:nth-child(2) {
			width: 22%;
		}

		> *:nth-child(3), > *:nth-child(4) {
			width: 28%;
		}

		> *:nth-child(5), > *:nth-child(6) {
			position: relative;
			float: left;
		}
		> *:nth-child(5) {
			width: 44%;
		}

		> *:nth-child(6) {
			width: 56%;
		}
	}

	@include clearfix;
}


.guide-list {
	@include media (">=phone") {
		> li {
			width: 50%;
			position: relative;
			float: left;
		}
	}
	@include media (">=tablet") {
		> li {
			width: 33.33%;
		}
	}
	@include clearfix;
}


.review-details {
	@include media (">=phone") {
		> * {
			width: calc(25% - 1rem);
			position: relative;
			float: left;
		}

		> *:nth-last-child(1) {
			width: 100%;
		}
	}

	@include media (">=tablet") {
		> *:nth-child(1), > *:nth-child(2), > *:nth-child(3), > *:nth-child(4) {
			width: 25%;
			padding-right: 75% !important;
			height: 4rem;
		}

		> *:nth-child(5) {
			width: 75%;
			float: right;
			margin-top: calc(-1 * 19.5rem);
		}
	}
	@include clearfix;
}
